/* ^reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ~~general */
html,
body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  margin-bottom: 20px;
}

a {
  color: #222;
  text-decoration: none;
}

.active {
  background: #444;
}


/* & header */
.header {
  background-color: #333;
  overflow: auto;
  line-height: 1.7em;
}

.header nav h1 {
  float: left;
  padding: 20px;
  margin-bottom: 0px;

}

.header nav h1 a {
  color: white;
}

.header nav ul {
  float: right;
  list-style: none;
}

.header nav ul li {
  float: left;
}

.header nav ul li a {
  color: white;
  padding: 20px;
  display: block;
}

.header nav ul li a:hover {
  background: #444;

}

.where {
  padding: 180px 150px;
  overflow: auto;
  min-height: 100vh;
}

.where-img {
  float: left;
  width: 40%;
  border: 1px solid #ddd;

}

.where-text {
  float: right;
  width: 50%;
}

.underline {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.chip {
  display: inline-block;
  width: 35px;
  border-radius: 100%;
  background: #333;
  color: white;
  text-align: center;
}

.chip-brown {
  background: rgb(82, 30, 30);
}

.chip-purple {
  background: purple;
}


/* ^footer */
footer {
  background: #222;
  color: white;
  padding: 30px 0px;
  text-align: center;
}

footer p {
  margin-bottom: 0px;
}